//  <!-- Typography
//  ================================================== -->
@include font-face('Apex', #{$font-path}/apex-book-webfont, 400, normal);
@include font-face('Apex-Medium', #{$font-path}/apex-medium-webfont, 500, normal);
@include font-face('Apex-Bold', #{$font-path}/apex-bold-webfont, 700, normal);
@include font-face('VerizonApex-BookItalic', #{$font-path}/VerizonApex-BookItalic, 400, italic);
@include font-face('VerizonApex-MediumItalic', #{$font-path}/VerizonApex-MediumItalic, 500, italic);
@include font-face('VerizonApex-BoldItalic', #{$font-path}/VerizonApex-BoldItalic, 700, italic);
@include font-face('Glyphicons Halflings', #{$font-path}/glyphicons-halflings-regular);



//  <!-- Icons
//  ================================================== -->
@include font-face('icons', '#{$font-path}/icons');
[data-icon]:before { content: attr(data-icon); }
[data-icon]:before,
.icon-angle-down:before,
.icon-angle-left:before,
.icon-angle-right:before,
.icon-angle-up:before,
.icon-app-sample:before,
.icon-bell:before,
.icon-card-view:before,
.icon-check:before,
.icon-check-square-off:before,
.icon-check-square-on:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-close:before,
.icon-edit:before,
.icon-error:before,
.icon-home:before,
.icon-info-circle:before,
.icon-list-view:before,
.icon-pages:before,
.icon-palette:before,
.icon-pattern:before,
.icon-pause-circle:before,
.icon-profile:before,
.icon-radio-off:before,
.icon-radio-on:before,
.icon-save:before,
.icon-search:before,
.icon-trash:before,
.icon-warning:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-angle-down:before { content: "\f100"; }
.icon-angle-left:before { content: "\f109"; }
.icon-angle-right:before { content: "\f101"; }
.icon-angle-up:before { content: "\f10a"; }
.icon-app-sample:before { content: "\f102"; }
.icon-bell:before { content: "\f128"; }
.icon-card-view:before { content: "\f122"; }
.icon-check:before { content: "\f11d"; }
.icon-check-square-off:before { content: "\f118"; }
.icon-check-square-on:before { content: "\f119"; }
.icon-chevron-down:before { content: "\f103"; }
.icon-chevron-left:before { content: "\f10b"; }
.icon-chevron-right:before { content: "\f104"; }
.icon-chevron-up:before { content: "\f10c"; }
.icon-close:before { content: "\f112"; }
.icon-edit:before { content: "\f129"; }
.icon-error:before { content: "\f11e"; }
.icon-home:before { content: "\f124"; }
.icon-info-circle:before { content: "\f11f"; }
.icon-list-view:before { content: "\f123"; }
.icon-pages:before { content: "\f106"; }
.icon-palette:before { content: "\f125"; }
.icon-pattern:before { content: "\f107"; }
.icon-pause-circle:before { content: "\f120"; }
.icon-profile:before { content: "\f108"; }
.icon-radio-off:before { content: "\f11a"; }
.icon-radio-on:before { content: "\f11b"; }
.icon-save:before { content: "\f113"; }
.icon-search:before { content: "\f114"; }
.icon-trash:before { content: "\f12a"; }
.icon-warning:before { content: "\f11c"; }


//  <!-- Colors
//  ================================================== -->
.color-swatch {
    
  &.big { width: 100%; }
  &.medium { width:100%; }

  &.black { background-color: $black; }
  &.tundora { background-color: $tundora; }
  &.silver-chalice { background-color: $silver-chalice; }

  &.vz-red { background-color: $vz-red; }
  &.vz-dark-gray { background-color: $vz-dark-gray; }
  &.vz-light-gray { background-color: $vz-light-gray; }
  &.vz-white { background-color: $vz-white; border:1px solid; border-color: $vz-light-gray; }
  &.vz-neptune { background-color: $vz-neptune; }
  &.vz-white-lilac { background-color: $vz-white-lilac; }
  &.vz-yellow { background-color: $vz-yellow; }
  &.vz-green { background-color: $vz-green; }
  &.vz-blue { background-color: $vz-blue; }
  &.vz-roti { background-color: $vz-roti; }
  &.vz-dusty-gray { background-color: $vz-dusty-gray; }
  &.vz-hopbush { background-color: $vz-hopbush; }
  &.vz-vivid-violet { background-color: $vz-vivid-violet; }
  &.vz-boston-blue { background-color: $vz-boston-blue; }

  &.brand-primary { background-color: $brand-primary; }
  &.brand-success { background-color: $brand-success; }
  &.brand-info { background-color: $brand-info; }
  &.brand-warning { background-color: $brand-warning; }
  &.brand-danger { background-color: $brand-danger; }

}
