.icon-preview {
	margin: 0px 0px 10px;
	display: inline-block;
	padding: 0.5em;
	min-width: 10%;
	width: auto;
	text-align: center;
	[class^="icon-"],[class*="icon-"] {
		display: block;
		height: 80px;
		font-size: 1.5em;
		line-height: 100px;
		transition: all 0.3s ease-in-out 0s;
		&:hover {
			font-size: 3em;
		}
	}
}


